body{
    margin:0px;
    background-color:#6b6d6d;
    
}

.toolbox{
    height:100vh;
    position: absolute;
    
    background-color: #afd1d1;
    
}

.toolbox .group{
    background-color:#c6caca;
  
    
    border-bottom: thin solid rgb(46, 45, 45);
    
}

.toolbox .group .item{
    width:24px;
    height: 24px;
    padding:10px;
    cursor: pointer;
}

.toolbox .group .item img{
    width: 100%;
    height: 100%;
    
}

.toolbox .group .item.active, .toolbox .group .item:hover{
    background-color:#a9b9b9;
}

.toolbox .group.stroks .item{
    position: relative;
}

.toolbox .group.stroks .item .stroke{
    background-color: rgb(179, 153, 153);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top:50%;
    left:50%;
}

.toolbox .group.colors .item .swatch{
    box-sizing: border-box;
    width:100%;
    height: 100%;
    border:2px black solid;
}

.toolbox.left{
    top:0px;
    left:0px;
}

.toolbox.right{
    top:0px;
    right:0px;
}

#canvas{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:white;
}